.seconddiv{
    border-radius: 25px;
}
.header{
    font-family: Arial, Helvetica, sans-serif;
}
.titlediv{
    background-color: #eceffe;
    border-radius: 20px;    
}
.n{
    color: #405ff2;
}
.images{
    width: 50%;
    height: 70%;
    border-radius: 15px;
}
.thetable{
    border-radius: 20px;
    width: 75%;
}
.carttotal{
    border: solid 1px;
    border-radius: 20px;
    margin: auto;
}
.second{
    padding-bottom: 50px;
}
.seconddiv{
    height: 70vh;
}