.seconddiv {
    border-radius: 25px;
    height: 800px;
    
}

.header {
    font-family: Arial, Helvetica, sans-serif;
}

.carttotal {
    width: 400px;
    margin: auto;
    height: 400px;
}

.n {
    color: #405ff2;
}

.error {
    color: red;
}

.true-icon {

    color: rgb(39, 39, 255);
}