:root {
  --main-back-color: #eef1fb; /* the main color used for backgrounds*/
  --main-fill: #050b20; /*the main color that is used for texts and also use in some buttons and it is used for a card background most searched cars section*/
  --btn-color1: #4260f3 /*used for some buttons*/;
  --card-back1: #e9f2ff; /*used for a card and some buttons in card details*/
  --card-back2: #ffe9f3; /*used for a card*/
  --secondary-fill:#405ff2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
.card-details-main {
  height: 30vh;
  background-color: var(--main-fill);
}
.card-details-content {
  background-color: #ffffff;
  border-radius:7rem 7rem 0 0;
  /* height: 160vh; */
}
a {
  text-decoration: none;
}

.path-details {
  margin-top: 3rem;
}
.btn-cssbuttons {
  padding: 16px 32px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: white;
  background: none;
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.btn-cssbuttons::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: var(--btn-color1);
  border-radius: 24px;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
  display: inline-flex;
  vertical-align: middle;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
  transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
  padding-right: 7px;
}

.btn-cssbuttons span span {
  margin-left: 8px;
  transition-delay: 0.1s;
}

.btn-cssbuttons ul {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.btn-cssbuttons ul li {
  flex: 1;
}

.btn-cssbuttons ul li a {
  display: inline-flex;
  vertical-align: middle;
  transform: translateY(55px);
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
  opacity: 0.5;
}

.btn-cssbuttons:hover::before {
  transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
  transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
  transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
  transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
  transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
  transition-delay: 0.25s;
}
.info-buttons button{
  background-color: var(--card-back1);
  color: var(--secondary-fill);
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 14px;
  margin: 5px;
  cursor:default;
}
.modal-opener{
  color: black;
}
.modal-opener:hover{
  color: var(--btn-color1);
  transition: 0.4s;
}
.modal-closer{
  background-color: transparent !important;
  border: 1px solid transparent;
}

.x:hover{
  background-color: red;
  border-radius: 50%;
  transition: 0.4s;
  color: white;
}
.card-details-image{
  width: 100%;
  height: 25rem;
  margin-top:1.3rem ;
  border-radius:24px ;
}
.not-found{
  height: 100vh;
  background-color: #ffffff;
  font-size: 5rem;
  display: grid;
  place-items: center;
}
.overview-table{
  --bs-table-bg:transparent !important ;
  background-color: var(--bs-table-bg);
}
.desc button{
  background-color: var(--card-back1);
  color: var(--secondary-fill);
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 14px;
  margin: 5px;
}
.desc button:hover{
  transition: 0.8s;
  background-color: var(--btn-color1);
}
.desc-btns{
  padding-bottom: 1.3rem;
}
.login-cont{
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--main-back-color);
}
.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: var(--main-fill);
  padding: 2rem;
  color: white;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: #ffffff;
  margin-bottom: 4px;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--btn-color1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: var(--btn-color1);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}

.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover, .signup a:hover {
  text-decoration: underline var(--btn-color1);
  transition: 0.5s;
}
.forgot a, .signup a {
  text-decoration:  var(--btn-color1);
  transition: 0.5s;
}
.sign {
  display: block;
  width: 100%;
  background-color: var(--btn-color1);
  padding: 0.75rem;
  text-align: center;
  color: var(--main-fill);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}

@media (max-width: 768px) {
  .d-flex {
    display: block !important;
  }
  .social {
    padding-top: 1.2rem;
  }

}
